<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boe.b4.appserver.modules.mwms.mapper.MaterialpackinghistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="boe.b4.appserver.modules.mwms.model.Materialpackinghistory">
        <id column="TIMEKEY" property="timekey" />
        <result column="SITENAME" property="sitename" />
        <result column="MATERIALPACKINGNAME" property="materialpackingname" />
        <result column="REASONCODETYPE" property="reasoncodetype" />
        <result column="REASONCODE" property="reasoncode" />
        <result column="MATERIALPACKINGTYPE" property="materialpackingtype" />
        <result column="CONTENTMATERIALTYPE" property="contentmaterialtype" />
        <result column="MATERIALTYPE" property="materialtype" />
        <result column="MATERIALSPECNAME" property="materialspecname" />
        <result column="SUPERMATERIALPACKINGNAME" property="supermaterialpackingname" />
        <result column="MAKEDATE" property="makedate" />
        <result column="PACKINGGRADE" property="packinggrade" />
        <result column="SUBPACKINGQUANTITY" property="subpackingquantity" />
        <result column="MATERIALCREATEQUANTITY" property="materialcreatequantity" />
        <result column="MATERIALQUANTITY" property="materialquantity" />
        <result column="OLDPACKINGSTATE" property="oldpackingstate" />
        <result column="PACKINGSTATE" property="packingstate" />
        <result column="STOCKSTATE" property="stockstate" />
        <result column="OLDSTOCKSTATE" property="oldstockstate" />
        <result column="HOLDSTATE" property="holdstate" />
        <result column="AREANAME" property="areaname" />
        <result column="LOCATIONNAME" property="locationname" />
        <result column="DURABLENAME" property="durablename" />
        <result column="MATERIALPROCESSGROUPNAME" property="materialprocessgroupname" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSER" property="createuser" />
        <result column="RECEIVEREQUESTNAME" property="receiverequestname" />
        <result column="RECEIVEREQUESTDETAILNAME" property="receiverequestdetailname" />
        <result column="RECEIVEACTNO" property="receiveactno" />
        <result column="RECEIVETIME" property="receivetime" />
        <result column="RECEIVEUSER" property="receiveuser" />
        <result column="SHIPREQUESTNAME" property="shiprequestname" />
        <result column="SHIPREQUESTDETAILNAME" property="shiprequestdetailname" />
        <result column="SHIPTIME" property="shiptime" />
        <result column="SHIPUSER" property="shipuser" />
        <result column="ERPLOCATION" property="erplocation" />
        <result column="ETCSTATE" property="etcstate" />
        <result column="ERPFACTORY" property="erpfactory" />
        <result column="STOCKINTYPE" property="stockintype" />
        <result column="OQARESULTSTATE" property="oqaresultstate" />
        <result column="OQARESULT" property="oqaresult" />
        <result column="UNDOID" property="undoid" />
        <result column="SUPPLIERNAME" property="suppliername" />
        <result column="CHARGE" property="charge" />
        <result column="UNDODETAILNAME" property="undodetailname" />
        <result column="ERPEVENTTIME" property="erpeventtime" />
        <result column="EVENTNAME" property="eventname" />
        <result column="EVENTTIME" property="eventtime" />
        <result column="EVENTUSER" property="eventuser" />
        <result column="EVENTCOMMENT" property="eventcomment" />
        <result column="NPFLAG" property="npflag" />
        <result column="ERPSTATE" property="erpstate" />
        <result column="MESSAGEID" property="messageid" />
        <result column="REMARK" property="remark" />
        <result column="PROCESSSTATE" property="processstate" />
        <result column="OQAMETHOD" property="oqamethod" />
        <result column="IMPROVMENTFLAG" property="improvmentflag" />
        <result column="EXPIRINGDATE" property="expiringdate" />
        <result column="ETCOUTQUANTITY" property="etcoutquantity" />
        <result column="MESRECEIVEFLAG" property="mesreceiveflag" />
        <result column="MESRECEIVETIME" property="mesreceivetime" />
        <result column="RECEIPTOR" property="receiptor" />
    </resultMap>

</mapper>
