<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boe.b4.appserver.modules.modmes.mapper.LotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="boe.b4.appserver.modules.modmes.model.Lot">
        <id column="LOTNAME" property="lotname" />
        <result column="PRODUCTIONTYPE" property="productiontype" />
        <result column="PRODUCTSPECNAME" property="productspecname" />
        <result column="PRODUCTSPECVERSION" property="productspecversion" />
        <result column="PRODUCTSPEC2NAME" property="productspec2name" />
        <result column="PRODUCTSPEC2VERSION" property="productspec2version" />
        <result column="PROCESSGROUPNAME" property="processgroupname" />
        <result column="PRODUCTREQUESTNAME" property="productrequestname" />
        <result column="ORIGINALLOTNAME" property="originallotname" />
        <result column="SOURCELOTNAME" property="sourcelotname" />
        <result column="DESTINATIONLOTNAME" property="destinationlotname" />
        <result column="ROOTLOTNAME" property="rootlotname" />
        <result column="PARENTLOTNAME" property="parentlotname" />
        <result column="CARRIERNAME" property="carriername" />
        <result column="PRODUCTTYPE" property="producttype" />
        <result column="SUBPRODUCTTYPE" property="subproducttype" />
        <result column="SUBPRODUCTUNITQUANTITY1" property="subproductunitquantity1" />
        <result column="SUBPRODUCTUNITQUANTITY2" property="subproductunitquantity2" />
        <result column="CREATEPRODUCTQUANTITY" property="createproductquantity" />
        <result column="CREATESUBPRODUCTQUANTITY" property="createsubproductquantity" />
        <result column="CREATESUBPRODUCTQUANTITY1" property="createsubproductquantity1" />
        <result column="CREATESUBPRODUCTQUANTITY2" property="createsubproductquantity2" />
        <result column="PRODUCTQUANTITY" property="productquantity" />
        <result column="SUBPRODUCTQUANTITY" property="subproductquantity" />
        <result column="SUBPRODUCTQUANTITY1" property="subproductquantity1" />
        <result column="SUBPRODUCTQUANTITY2" property="subproductquantity2" />
        <result column="LOTGRADE" property="lotgrade" />
        <result column="DUEDATE" property="duedate" />
        <result column="PRIORITY" property="priority" />
        <result column="FACTORYNAME" property="factoryname" />
        <result column="DESTINATIONFACTORYNAME" property="destinationfactoryname" />
        <result column="AREANAME" property="areaname" />
        <result column="LOTSTATE" property="lotstate" />
        <result column="LOTPROCESSSTATE" property="lotprocessstate" />
        <result column="LOTHOLDSTATE" property="lotholdstate" />
        <result column="LASTEVENTNAME" property="lasteventname" />
        <result column="LASTEVENTTIMEKEY" property="lasteventtimekey" />
        <result column="LASTEVENTTIME" property="lasteventtime" />
        <result column="LASTEVENTUSER" property="lasteventuser" />
        <result column="LASTEVENTCOMMENT" property="lasteventcomment" />
        <result column="LASTEVENTFLAG" property="lasteventflag" />
        <result column="CREATETIME" property="createtime" />
        <result column="CREATEUSER" property="createuser" />
        <result column="RELEASETIME" property="releasetime" />
        <result column="RELEASEUSER" property="releaseuser" />
        <result column="LASTLOGGEDINTIME" property="lastloggedintime" />
        <result column="LASTLOGGEDINUSER" property="lastloggedinuser" />
        <result column="LASTLOGGEDOUTTIME" property="lastloggedouttime" />
        <result column="LASTLOGGEDOUTUSER" property="lastloggedoutuser" />
        <result column="REASONCODETYPE" property="reasoncodetype" />
        <result column="REASONCODE" property="reasoncode" />
        <result column="PROCESSFLOWNAME" property="processflowname" />
        <result column="PROCESSFLOWVERSION" property="processflowversion" />
        <result column="PROCESSOPERATIONNAME" property="processoperationname" />
        <result column="PROCESSOPERATIONVERSION" property="processoperationversion" />
        <result column="NODESTACK" property="nodestack" />
        <result column="MACHINENAME" property="machinename" />
        <result column="MACHINERECIPENAME" property="machinerecipename" />
        <result column="REWORKSTATE" property="reworkstate" />
        <result column="REWORKCOUNT" property="reworkcount" />
        <result column="REWORKNODEID" property="reworknodeid" />
        <result column="BRANCHENDNODEID" property="branchendnodeid" />
        <result column="GROUPNAME" property="groupname" />
        <result column="CHECKINCODE" property="checkincode" />
        <result column="REVISIONCODE" property="revisioncode" />
        <result column="MODULENAME" property="modulename" />
        <result column="OQALOTNAME" property="oqalotname" />
        <result column="OQAINSPECTRESULT" property="oqainspectresult" />
        <result column="STOCKINTIME" property="stockintime" />
        <result column="STOCKINUSER" property="stockinuser" />
        <result column="INVOICENO" property="invoiceno" />
        <result column="SHIPTIME" property="shiptime" />
        <result column="SHIPUSER" property="shipuser" />
        <result column="LEVELNO" property="levelno" />
        <result column="AGINGPALLETNAME" property="agingpalletname" />
        <result column="FALABELPRINTCOUNT" property="falabelprintcount" />
        <result column="OQADEFECTSIZEWIDTH" property="oqadefectsizewidth" />
        <result column="OQADEFECTSIZELENGTH" property="oqadefectsizelength" />
        <result column="OQADEFECTDIAMETER" property="oqadefectdiameter" />
        <result column="ADDRESS" property="address" />
        <result column="ADDRESSPOINT" property="addresspoint" />
        <result column="REASONCODESIZE" property="reasoncodesize" />
        <result column="LINENAME" property="linename" />
        <result column="RECEIVETYPE" property="receivetype" />
        <result column="RECEIVEFROM" property="receivefrom" />
        <result column="FAREASONCODE" property="fareasoncode" />
        <result column="FAREASONCODESIZE" property="fareasoncodesize" />
        <result column="FALEVEL" property="falevel" />
        <result column="FAREASONCODETYPE" property="fareasoncodetype" />
        <result column="FAADDRESS" property="faaddress" />
        <result column="FAADDRESSPOINT" property="faaddresspoint" />
        <result column="OQADEFECTDOTQUANTITY" property="oqadefectdotquantity" />
        <result column="FAENGINEERNAME" property="faengineername" />
        <result column="FATIME" property="fatime" />
        <result column="FAINSPECTRESULT" property="fainspectresult" />
        <result column="INVOICEDETAILNO" property="invoicedetailno" />
        <result column="OLDMODULENAME" property="oldmodulename" />
        <result column="ETCSTATE" property="etcstate" />
        <result column="ETCLOCATION" property="etclocation" />
        <result column="ETCRETURNMODE" property="etcreturnmode" />
        <result column="OQARESULT" property="oqaresult" />
        <result column="WBLOTGRADE" property="wblotgrade" />
        <result column="CELLGRADE" property="cellgrade" />
        <result column="ASSYGRADE" property="assygrade" />
        <result column="PSJUDGE" property="psjudge" />
        <result column="CFJUDGE" property="cfjudge" />
        <result column="ARRAYGRADE" property="arraygrade" />
        <result column="LOTPOSITION" property="lotposition" />
        <result column="CELLMACHINENAME" property="cellmachinename" />
        <result column="PPID" property="ppid" />
        <result column="SUBPRODUCTDETAILGRADES1" property="subproductdetailgrades1" />
        <result column="ORIGINALPRODUCTIONTYPE" property="originalproductiontype" />
        <result column="RMANUMBER" property="rmanumber" />
        <result column="FAILUREMODE" property="failuremode" />
        <result column="VERIFYRESULT" property="verifyresult" />
        <result column="RMAMODULENAME" property="rmamodulename" />
        <result column="CELLSHIPTIME" property="cellshiptime" />
        <result column="REWORKSTARTSTEP" property="reworkstartstep" />
        <result column="CELLLOTNAME" property="celllotname" />
        <result column="PRODUCTCODE" property="productcode" />
        <result column="POL_TFT" property="polTft" />
        <result column="POL_CF" property="polCf" />
        <result column="ACFT" property="acft" />
        <result column="COFS" property="cofs" />
        <result column="COFG" property="cofg" />
        <result column="PCB_LEFT" property="pcbLeft" />
        <result column="PCB_RIGHT" property="pcbRight" />
        <result column="ACF" property="acf" />
        <result column="PCB_LEFT_MMT" property="pcbLeftMmt" />
        <result column="PCB_RIGHT_MMT" property="pcbRightMmt" />
        <result column="ACF_MMT" property="acfMmt" />
        <result column="BL" property="bl" />
        <result column="CONTROL_BOARD" property="controlBoard" />
        <result column="OQAJUDGE" property="oqajudge" />
        <result column="DEFECTSIZE" property="defectsize" />
        <result column="LOTTYPE" property="lottype" />
        <result column="MODULESTARTFLAG" property="modulestartflag" />
        <result column="LOTDETAILGRADE" property="lotdetailgrade" />
        <result column="OQAJUDGENGSCOPE" property="oqajudgengscope" />
        <result column="OPERATORCOMMENT" property="operatorcomment" />
        <result column="MISS" property="miss" />
        <result column="ARRAYREPAIR" property="arrayrepair" />
        <result column="ARRAYSHIPGRADE" property="arrayshipgrade" />
        <result column="CELLREPAIR" property="cellrepair" />
        <result column="CELLSHIPGRADE" property="cellshipgrade" />
        <result column="OLDLOTGRADE" property="oldlotgrade" />
        <result column="POSITION" property="position" />
        <result column="AP01_ACF1" property="ap01Acf1" />
        <result column="AP01_COF1" property="ap01Cof1" />
        <result column="AP01_ACF2" property="ap01Acf2" />
        <result column="AP01_COF2" property="ap01Cof2" />
        <result column="AP02_ACF1" property="ap02Acf1" />
        <result column="AP02_COF1" property="ap02Cof1" />
        <result column="AP02_ACF2" property="ap02Acf2" />
        <result column="AP02_COF2" property="ap02Cof2" />
        <result column="PB01_PCBL" property="pb01Pcbl" />
        <result column="PB01_PCBR" property="pb01Pcbr" />
        <result column="PB01_ACFL1" property="pb01Acfl1" />
        <result column="PB01_ACFL2" property="pb01Acfl2" />
        <result column="PB01_ACFR1" property="pb01Acfr1" />
        <result column="PB01_ACFR2" property="pb01Acfr2" />
        <result column="PI01_PCBL" property="pi01Pcbl" />
        <result column="PI01_PCBR" property="pi01Pcbr" />
        <result column="CONSUMABLE_SEQ" property="consumableSeq" />
        <result column="PANELTYPE" property="paneltype" />
        <result column="TV_PRODUCTID" property="tvProductid" />
        <result column="TV_BOX_MODELCODE" property="tvBoxModelcode" />
        <result column="TVSET_SAMPLINGFLAG" property="tvsetSamplingflag" />
        <result column="AD_BOARD" property="adBoard" />
        <result column="POWER_BOARD" property="powerBoard" />
        <result column="OPERATORID" property="operatorid" />
        <result column="INSPECTEDOQASTEP" property="inspectedoqastep" />
        <result column="STOCKTOFGMS" property="stocktofgms" />
        <result column="OCRTOQAJUDGE" property="ocrtoqajudge" />
        <result column="FAORDER" property="faorder" />
        <result column="PAIRLOTNAME" property="pairlotname" />
        <result column="CT_FACTORYNAME" property="ctFactoryname" />
        <result column="OLDPRODUCTREQUESTNAME" property="oldproductrequestname" />
        <result column="RISKTYPE" property="risktype" />
    </resultMap>

</mapper>
