<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boe.b4.appserver.modules.ums.mapper.AppUmsLoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="boe.b4.appserver.modules.ums.model.AppUmsLoginLog">
        <result column="USERID" property="userid" />
        <result column="CREATETIMEKEY" property="createtimekey" />
        <result column="CREATETIME" property="createtime" />
        <result column="IP" property="ip" />
        <result column="ADDRESS" property="address" />
        <result column="USER_AGENT" property="userAgent" />
    </resultMap>

</mapper>
